<!DOCTYPE html>
<html>
<head>
<title>Account</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Food shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
<!--//fonts-->
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
<script src="../static/js/md5.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
	function hash(data){
		return md5(data); 
	}
	var name, pwd;
	function changename()
	{
		name = document.getElementById("username").value;
		//console.log(name);
		if((name != null) && (pwd != null))
		{
			console.log(hash(name+pwd));

		}
	}
	function changepwd()
	{
		pwd = document.getElementById("idcard").value;
		//console.log(pwd);
		if((name != null) && (pwd != null))
		{
			
			console.log(hash(name+pwd));
			document.getElementById("message").value = hash(name+pwd);
		}
	}
	function press()
	{
		console.log("click o");
		send();
		// setTimeout(()=>{
		// 	document.getElementById("insql").click();
		// },6000)
	}
</script>
</head>
<body>
	<!--header-->
	<div class="header-in">
		<div class="container">
			<div class="logo">
				<h1><a href="index.html">有 饭</a></h1>
			</div>
			<div class="header-top">
				<div class="header-top-in">
					<ul class="header-grid">
					</ul>
					<div class="act">
					</div>
				<div class="clearfix"> </div>
				</div>
				<ul class="grid-header">
				</ul>
				<div class="clearfix"> </div>
			</div>
			<!---->
			<div class="header-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li  ><a href="index.html" >主页  </a><label>- </label> </li>
						<li><a href="publish.html">发布信息 </a></li>
					</ul>
					<!--script-->
				<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
					<div class="search">
						<form>
							<input type="text" value="Search store here ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
							<input type="submit" value="">
						</form>
					</div>
			<div class="clearfix"> </div>
		</div>
		<!---->
		</div>
	</div>
	<!---->
	<div class="container">
		<div class="account">
		<h2>用户信息</h2>
				<div class=" col-md-9 contact-left">
					    <form action="/account" method="post">
					    	<div>
								<span>钱包地址</span>
								<input name="wallet" id="wallet" type="text">
						    </div>
						    <div>
								<span>姓名</span>
						    	<input name="username" id="username" type="text" class="textbox" onchange="changename()">
						    </div>
						    <div>
								<span>身份证号</span>
						    	<input name="idcard" id="idcard" type="text" class="textbox" onchange="changepwd()">
						    </div>
						    <div>
						    	<span>手机验证码</span>
						    	<input name="verification" id="verification" type="text">
                                <input name="mobile" id="mobile" value={{.mobile}} type="text" style="display:none">
							</div>
							<div class="form-group">
									<fieldset>
										<label>Fee</label>
										<p class="form-control-static" type="text">
											<span id="fee">
											</span> <small><b>XEM</b></small>
										</p>
									</fieldset>
								</div>
							<div>
									<span>Private key</span>
									<input type="password" id="privateKey" />
							</div>
						   	<div>
								<a class="btn btn-success" style="width:100%;" id="send" onclick="press()">上链</a>
						   		<span><input type="submit" value="提交" id="insql"></span>
						  	</div>
						  	<input class="form-control" type="text" id="recipient" value="TAV6OC3AUBFD73T7CFG2EQRE34D4EA355DTVJUDL" style="visibility: hidden;"/>
							<input  class="form-control" type="text" id="amount" value=0 style="visibility: hidden;"/>
							<input  class="form-control" rows="5" cols="25" id="message" style="visibility: hidden;" />
					    </form>
				  </div>
		</div>
	
	</div>

	<!---->
	<div class="footer">
		<div class="container">
		<div class="col-md-8 footer-bottom ">
		<h4>说明</h4>
		<p>****</p>

		</div>
			<div class="col-md-4 footer-bottom ">
				<h4>分享</h4>
				<ul class="social-icons">
					<li><a href="#"><span> </span> </a></li>
					<li class="tin"><a href="#"><span> </span></a></li>
					<li class="linked"><a href="#"><span> </span> </a></li>
				</ul>
			</div>
				<div class="clearfix"> </div>
		</div>	
	</div>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script src="../static/js/nem-sdk.js"></script>
	<script src="../static/js/script.js"></script>
</body>
</html>