<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Food shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Lobster+Two:400,400italic,700,700italic' rel='stylesheet' type='text/css'> -->
<!--//fonts-->
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
						var address = {{.addresses}};
						var len = {{.length}};
						var price = {{.prices}};
						var i,j;
						var state = {{.flags}};
						for(i=len-1,j=1; i >= len - 8; i--,j++)
						{
						    var str = address[i];
                            document.getElementById("name"+j).innerText=str;
                            document.getElementById("price"+j).innerText=price[i] + "XEM";
                            switch (state[i]) {
								case "0":
								    document.getElementById("state"+j).innerText="预订";
								    break;
								case "1":
                                    document.getElementById("state"+j).innerText="评价";
								    break;
								case "2":
                                    document.getElementById("state"+j).innerText="查看";
								    break;
							}
						}

						//alert((address[0]));
					});
</script>
<script type="text/javascript">
	function disp_prompt()
	{
		var name=prompt("请输入您的钱包地址","您的钱包地址");
		if (!isNaN(name))
		{
			window.open("/publish");
		}
		else
		{
			window.open("/verify");
		}
	}
</script>
</head>
<body>
	<!--header-->
	<div class="header-in">
		<div class="container">
			<div class="logo">
				<h1><a href="index.html">有 饭</a></h1>
			</div>
			<div class="header-top">
				<div class="header-top-in">
					<ul class="header-grid">
					</ul>
					<div class="act">
					</div>
				<div class="clearfix"> </div>
				</div>
				<ul class="grid-header">
				</ul>
				<div class="clearfix"> </div>
			</div>
			<!---->
			<div class="header-bottom">
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li  ><a href="index.html" >主页  </a><label>- </label> </li>
						<li><a onclick="disp_prompt()">发布信息 </a></li>
					</ul>
				</div>
					<div class="search">
						<form>
							<input type="text" value="Search store here ..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
							<input type="submit" value="">
						</form>
					</div>
			<div class="clearfix"> </div>
		</div>
		<!---->
		</div>
	</div>
	<!---->
		<div class="container">
			<div class="specials">
				<div class="special-top">
					<div class="col-md-3 special-in">
						<a href="/detail?txhash=1" ><img src="../static/images/pi2.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="/detail?txhash=1" id = "name1">烤肉大餐——{{.length}}</a></h5>
						<p id = "price1">10XEM</p>
						<div class="details-in">
							<a href="/detail?txhash=1" class="details" id = "state1">详细</a>
						</div>
					</div>
					<div class="col-md-3 special-in">
						<a href="detail.html" ><img src="../static/images/pi.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="detail.html" id = "name2">烤肉大餐——天府一街</a></h5>
						<p id = "price2">10XEM</p>
						<div class="details-in">
							<a href="#" class="details" id = "state2">详细</a>
						</div>
					</div>
					<div class="col-md-3 special-in">
						<a href="detail.html" ><img src="../static/images/pi1.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="detail.html" id = "name3">烤肉大餐——天府一街</a></h5>
						<p id = "price3">10XEM</p>
						<div class="details-in">
							<a href="#" class="details" id = "state3">详细</a>
						</div>
					</div>
					<div class="col-md-3 special-in">
						<a href="detail.html" ><img src="../static/images/pi4.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="detail.html" id = "name4">烤肉大餐——天府一街</a></h5>
						<p id = "price4">10XEM</p>
						<div class="details-in">
							<a href="#" class="details" id = "state4">详细</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			<div class="special-top">
					<div class="col-md-3 special-in">
						<a href="detail.html" ><img src="../static/images/pi3.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="detail.html" id = "name5">烤肉大餐——天府一街</a></h5>
						<p id = "price5">10XEM</p>
						<div class="details-in">
							<a href="#" class="details" id = "state5">详细</a>
						</div>
					</div>
					<div class="col-md-3 special-in">
						<a href="detail.html" ><img src="../static/images/pi7.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="detail.html" id = "name6">烤肉大餐——天府一街</a></h5>
						<p id = "price6">10XEM</p>
						<div class="details-in">
							<a href="#" class="details" id = "state6">详细</a>
						</div>
					</div>
					<div class="col-md-3 special-in">
						<a href="detail.html" ><img src="../static/images/pi6.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="detail.html" id = "name7">烤肉大餐——天府一街</a></h5>
						<p id = "price7">10XEM</p>
						<div class="details-in">
							<a href="#" class="details" id = "state7">详细</a>
						</div>
					</div>
					<div class="col-md-3 special-in">
						<a href="detail.html" ><img src="../static/images/pi5.jpg" class="img-responsive" alt="">
						
							</a>
						<h5><a href="detail.html" id = "name8">烤肉大餐——天府一街</a></h5>
						<p id = "price8">10XEM</p>
						<div class="details-in">
							<a href="#" class="details" id = "state8">详细</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!---->
				<div class="browse">
					<p class="vit">输入关键字 ...</p>
					<a href="detail.html" class="more">浏览更多</a>
					<div class="clearfix"> </div>
					<div class="arrow">
						<a href="#"><img src="../static/images/arrow.png" alt=""></a>
					</div>
				</div>
				<!---->
			</div>
		</div>
	<!---->
	<div class="footer">
		<div class="container">
		<div class="col-md-8 footer-bottom ">
		<h4>说明</h4>
		<p>****</p>

		</div>
			<div class="col-md-4 footer-bottom ">
				<h4>分享</h4>
				<ul class="social-icons">
					<li><a href="#"><span> </span> </a></li>
					<li class="tin"><a href="#"><span> </span></a></li>
					<li class="linked"><a href="#"><span> </span> </a></li>
				</ul>
			</div>
				<div class="clearfix"> </div>
		</div>	
	</div>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>